# top-most EditorConfig file
root = true

# Config compatible avec ce que fait scripts/normalize-eol.
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = true

[*.{txt,sh}]
trim_trailing_whitespace = true
